
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.b-radius {
    border-radius: .5rem .5rem 0 0;
}
.s-padding {
  padding: 5rem;
}
.pic-footer p {
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
}

.main {
  flex-direction: row;
  justify-content: space-between;
}
  .m-col {
    flex-direction: column;
    width: 100%;
  }
  .m-left {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .m-right {
    margin-left: 1rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}


@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro-Regular"),
       url("../files/fonts/Source Sans Pro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: local("Merriweather-Regular"),
       url("../files/fonts/Merriweather/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather-Italic";
  src: local("Merriweather-Italic"),
       url("../files/fonts/Merriweather/Merriweather-Italic.ttf");
}

@font-face {
  font-family: "icomoon";
  src: local("icomoon"),
       url("../files/fonts/icomoon.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu-Regular"),
       url("Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu-Regular"),
       url("../files/fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-Italic";
  src: local("Ubuntu-Italic"),
       url("../files/fonts/Ubuntu/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"),
       url("../files/fonts/Ubuntu/Ubuntu-Bold.ttf");
}
