/*  special  */
ul, ol, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}
	strong, b {
		font-weight: 600;
	}
	h1 {
		font-size: 4rem;
		line-height: 1.1;
		margin: 0 0 2rem 0;
	}

	h2 {
		font-size: 1.75rem;
		line-height: 1.3;
		margin: 0 0 1.5rem 0;
	}

	h3 {
		font-size: 1.25rem;
		margin: 0 0 1.5rem 0;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.8rem;
	}
	sub {
		font-size: 0.8rem;
		position: relative;
		top: 0.5rem;
	}

	sup {
		font-size: 0.8rem;
		position: relative;
		top: -0.5rem;
	}
	p {
		font-weight: 400;
		line-height: 2rem;
		margin-bottom: 0;
	}

.s-padding {
	padding: 2rem;
}
.b-radius {
	border-radius: 0;
}
.z-in {
	z-index: 10;
}
hr {
    border: 0;
    border-bottom: solid 2px;
    border-bottom-color: #bbbbbb;
    margin: 3rem 0;
}

.link {
	color: rgb(27, 103, 165);
	text-decoration: none;
}
	.link:hover {
		color: rgb(65 155 229);
	}
	.link:after {
		font-family: icomoon;
		padding-left: 0.2rem;
		font-size: 0.75rem;
		content: "\e9cb";
	}
/* base */
body {
	font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
	header {

	}
	content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		color: #593a3a;
	}

	#header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5rem!important;
		margin-bottom: 5rem!important;
	}
		#header img {
			width: 35rem;
			max-width: 100%;
			border-radius: .7rem;
		}
		.pic-footer {
			border-radius: 0 0 0.5rem 0.5rem;
		}
			.pic-footer p {
				text-align: center;
				font-size: 1rem;
				padding: 0.75rem;
				line-height: 1.75rem;
				opacity: 0.75;
			}
			.pic-footer a {
				color: rgb(27, 103, 165);
				padding: 0.3rem;
				border: 1px solid;
				border-radius: 0.5rem;
				text-decoration: none;
			}
				.pic-footer a:hover{
					color: rgb(65 155 229);
				}
		
	.main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}
		.m-col {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		.m-left {
			margin-bottom: 1rem;
		}
		.m-right {  }
			.item {
				display: flex;
				flex-direction: column;
				background-color: white;
				color: black;
				margin-bottom: 2rem;
				border-radius: .5rem;
			}
				.item:last-child {
					margin-bottom: 0;
				}
				.i-head {
					background-color: grey;
					color: white;
					width: 100%;
					padding: 1rem;
					border-radius: .5rem .5rem 0 0;
				}
					.i-head h3 {
						margin-bottom: 0;
					}
					.ser > .i-head {
						background-color: rgb(88, 200, 0);
					}
					.sec > .i-head {
						background-color: rgb(203, 0, 0);
					}
					.com > .i-head {
						background-color: rgb(27, 103, 165);
					}
				.i-content {
					display: flex;
					flex-direction: column;
					width: 100%;
					padding: 1rem;
					min-height: 5rem;
					border-radius: 0 0 .5rem .5rem;
				}
					.i-content h3 {
						font-family: 'Ubuntu-Bold', sans-serif;
						opacity: 0.65;
						text-transform: none;
						font-weight: 900;
						margin-bottom: 0.2rem;
					}
					.i-content p {
						opacity: 0.65;
						margin-bottom: 0.75rem;
						line-height: 1.25rem;
						font-size: 0.85rem;
					}
						.i-content p:last-child {
							margin-bottom: 0;
						}
					.ser > .i-content {
						background-color: rgb(88, 200, 0, 0.1);
					}
					.sec > .i-content {
						background-color: rgb(203, 0,  0, 0.1);
					}
					.com > .i-content {
						background-color: rgb(27, 103, 165, 0.1);
					}
					.icons-wrap {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
					}
						.icons-wrap a {
							max-width: 10rem;
							display: flex;
							justify-content: center;
							flex-direction: row;
							align-items: center;
							text-decoration: none;
							color: rgb(27, 103, 165);
							margin: 0 0.25rem;
						}
							.icons-wrap a:hover {
								color: rgb(65 155 229);
							}
								.icons-wrap img {
									width: 3rem;
									margin-right: 0.2rem;
								}
								.icons-wrap p {
									opacity: 1;
								}
